.input-field {
  width: 539px;
  border-radius: 2px;
  border: 1px solid rgb(80, 80, 80);
  height: 106px;
  margin: 0px;
  font-size: 14px;
  font-family: 'Helvetica';
  padding: 5px;
  box-sizing: border-box;
}

.input-field-wrapper {
  width: 540px;
  text-align: right;
}

.button {
  width: 200px;
  padding: 0;
  height: 40px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}